body {
  background-color: blueviolet;
  color: white;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(113, 13, 207);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 25px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: skyblue;
  font-size: 1.02rem;
}
main hr {
  border: 0;
  background: whitesmoke;
  height: 1.2px;
  margin: 60px 84px;
}
nav > img {
  height: 100px;
}
.sglogo {
  position: relative;
  left: -100px;
}
.left {
  font-size: 1.5rem;
  left: -370px;
  position: relative;
}
.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 130px 0;
}
.firstsection > div {
  width: 30%;
}
.leftsection {
  font-size: 2.5rem;
}
.leftsection .btn{
    padding: 12px;
    background: #4c068d;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  .leftsection .buttons{
    padding: 50px 16px;
  }
.rightsection img {
  width: 450px;
}
.purple {
  color: #83ed6b;
}
#element {
  color: #83ed6b;
}
.secondsection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
.secondsection h1 {
  font-size: 1.9rem;
}
.textgrey {
  color: cornsilk;
}
.secondsection .box {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}
.secondsection .vertical {
  position: relative;
  height: 76px;
  top: 1px;
  width: 2px;
  background-color: white;
  margin: 0 87px;
}
.imgtop {
  width: 33px;
  position: relative;
  top: -35px;
  left: -15px;
}

.verticaltitle {
  position: relative;
  top: 51px;
  width: 150px;
  font-size: 14px;
}
.verticaldesc {
  position: relative;
  top: 54px;
  width: 150px;
  color: black;
  font-size: 10px;
}
footer{
    background-color: #5b0fa3;
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul{
    list-style: none;
}

.footer > div{
    width: 223px;
}
footer > .textrights{
    text-align: center;
    color: blanchedalmond;
    padding: 12px 0;
}